[Unit]
Description=System Logging Service
Requires=syslog.socket
Documentation=man:rsyslogd(8)
Documentation=https://www.rsyslog.com/doc/

[Service]
Type=notify
{% if rsyslog_use_pidfile %}
ExecStart=/usr/sbin/rsyslogd -n -i{{ rsyslog_pidfile }}
{% else %}
ExecStart=/usr/sbin/rsyslogd -n -iNONE
{% endif %}
StandardOutput=null
Restart=on-failure

# Increase the default a bit in order to allow many simultaneous
# files to be monitored, we might need a lot of fds.
LimitNOFILE=16384

[Install]
WantedBy=multi-user.target
Alias=syslog.service
