{{ ansible_managed | comment }}

#
#  /etc/rsyslog.conf	Configuration file for rsyslog.
#
#			For more information see
#			/usr/share/doc/rsyslog-doc/html/rsyslog_conf.html

#################
#### MODULES ####
#################

module(load="imuxsock") # provides support for local system logging
module(load="imklog")   # provides kernel logging support
#module(load="immark")  # provides --MARK-- message capability

{% if rsyslog_enable_module_imudp %}
# provides UDP syslog reception
module(load="imudp")
input(type="imudp" port="{{ rsyslog_imudp_port }}")
{% endif %}


{% if rsyslog_enable_module_imtcp %}
# provides TCP syslog reception
module(load="imtcp")
input(type="imtcp" port="{{ rsyslog_imtcp_port }}")
{% endif %}

{% if rsyslog_enable_module_imfile %}
module(load="imfile")
{% endif %}

###########################
#### GLOBAL DIRECTIVES ####
###########################

#
# Use traditional timestamp format.
# To enable high precision timestamps, comment out the following line.
#
$ActionFileDefaultTemplate RSYSLOG_TraditionalFileFormat
{% if rsyslog_user is defined and rsyslog_group is defined %}
$PrivDropToUser {{ rsyslog_user | default('root') }}
$PrivDropToGroup {{ rsyslog_group | default('root') }}
{% endif %}
#
# Set the default permissions for all log files.
#
$FileOwner {{ rsyslog_user | default('root') }}
$FileGroup {{ rsyslog_user | default('adm') }}
$FileCreateMode 0640
$DirCreateMode 0755
$Umask 0022

{% if rsyslog_work_directory is defined %}
#
# Where to place spool and state files
#
$WorkDirectory {{ rsyslog_work_directory }}
{% endif %}

{% if rsyslog_include_config_matcher is defined %}
#
# Include all config files in /etc/rsyslog.d/
#
$IncludeConfig {{ rsyslog_include_config_matcher }}
{% endif %}


###############
#### RULES ####
###############

#
# First some standard log files.  Log by facility.
#
auth,authpriv.*			/var/log/auth.log
*.*;auth,authpriv.none		-/var/log/syslog
#cron.*				/var/log/cron.log
daemon.*			-/var/log/daemon.log
kern.*				-/var/log/kern.log
lpr.*				-/var/log/lpr.log
mail.*				-/var/log/mail.log
user.*				-/var/log/user.log

#
# Logging for the mail system.  Split it up so that
# it is easy to write scripts to parse these files.
#
mail.info			-/var/log/mail.info
mail.warn			-/var/log/mail.warn
mail.err			/var/log/mail.err

#
# Some "catch-all" log files.
#
*.=debug;\
	auth,authpriv.none;\
	news.none;mail.none	-/var/log/debug
*.=info;*.=notice;*.=warn;\
	auth,authpriv.none;\
	cron,daemon.none;\
	mail,news.none		-/var/log/messages

#
# Emergencies are sent to everybody logged in.
#
*.emerg				:omusrmsg:*
